<body  style="background-color:deeppink">
    <h2>This come from index view</h2>
    <div>
        I am a div.
    </div>
    <a href="/about/index">go to index</a>
    @ViewBag.Greeting
    <a href="/home/downloadclick">download image</a>
</body>
