<h1>Practice ActionResult types in asp.net mvc </h1>
<p>
    Result is : @ViewBag.Result
</p>
<a href="/home/downloadimage">Click here to download image</a>
<a href="/home/hi">Test for viewData type </a>
<a href="/home/about">Go To About</a>